.idea/
.vscode/
node_modules/
build/
tmp/
temp/
dist/
logs/
test/
.tmp/
icon.png
LICENSE
ormconfig.ts
w3tec-divider.png
w3tec-logo.png
package-lock.json
yarn.lock
.env
package-lock.json
/prisma/generated/
